/bin
/build/main
/build/apidocs
/dist
/scripts/scriptmenu/archives
*.sublime-project
*.sublime-workspace
*.classpath
*.project
/.idea/*
./bin/
*.iml
out/*
.settings/
*.log
*.so
*.dll
/src/org/simbrain/resource/ThreeDAssets/nbproject/private/