/bin
/build/main
/build/apidocs
/dist
/scripts/scriptmenu/archives
*.sublime-project
*.sublime-workspace
*.classpath
*.project
/.idea/*
./bin/
*.iml
out/*
.settings/
.checkstyle
*.log
*.so
*.dll
*.dylib
*.DS_Store
/src/org/simbrain/world/threedworld/threedassets/nbproject/private/
